@if(!isLoading){
  <div>
    @if(user){
    <div>
      <img src={{user?.profilePictureUrl}} alt={{user?.name}} />
      <div>User name: {{user?.name}}</div>
      <button (click)="logOut()">Log out</button>
      <button (click)="showAdminPortal()">Settings</button>
    </div>
    <div>
      @if(user.tenantIds.length > 1){
        <select title="tentant-selection" #mySelect (change)="tenantSelectionChanged(mySelect.value)" >
          <option *ngFor="let tenantId of user.tenantIds" [value]="tenantId" [selected]="tenantId == user.tenantId">
            {{tenantId}}
          </option>
        </select>
        <button (click)="switchTenant()">Switch Tenant</button>
      } @else {
        User's TenantId: {{ user.tenantId }}
      }
    </div>
    } @else {
    <div>
      <!-- Uncomment when not using auto-redirect-->
      <button (click)="loginWithRedirect()">Login with redirect</button>
    </div>
    }
  </div>
  }
